<section class="p-10">
  <div class="flex justify-center">
    <div class="options flex gap-2 items-center flex-wrap mb-10 text-white">
      @for (category of categories; track $index) {
      <p
        [attr.data-category]="category"
        class="options"
        (click)="showCategory(current)"
        [class.active]="categorySelected == category"
        #current
      >
        {{ category.toUpperCase() }}
      </p>
      }
    </div>
  </div>
  <div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-5"
  >
    @for (product of products; track $index) { @if(categorySelected == "all"){
    <app-card [product]="product"></app-card>
    } @else if (product.category == categorySelected) {
    <app-card [product]="product"></app-card>
    } }
  </div>
</section>
